/* Big tablet to 1300px (width smaller than 1140 pixel row) */
@media only screen and (max-width: 1200px) {
    h1 {
      font-size: 350%;
    }
    h2 {
      font-size: 300%;
    }
    h3 {
        font-size: 250%;
    }
    .main_box {
      width: 100%;
      height: 100%;
    }
    #locationChoice, #modalityChoice, #manufactureChoice{
      height: 5%;
      width: 30%;
      text-align: center;
      font-size: 150%;
      border-radius: 6px;
    }
    button {
      margin-top: 30%;
      height: 5%;
      width: 30%;
      font-size: 200%;
    }
    
    .answerBlock {
      width: 100%;
      height: 30%;
    }
    
  }
  
  /* Small tablet to big tablets from 768px to 1023px   */
  @media only screen and (max-width: 1023px) {
    h1 {
      font-size: 250%;
    }
    h2 {
      font-size: 200%;
    }
    h3 {
        font-size: 150%;
    }
    .main_box {
      width: 100%;
      height: 100%;
    }
    #locationChoice, #modalityChoice, #manufactureChoice {
      height: 5%;
      width: 30%;
      text-align: center;
      font-size: 150%;
      border-radius: 6px;
    }
    button {
      margin-top: 45%;
      height: 5%;
      width: 40%;
      font-size: 180%;
    }
     .answerBlock {
      width: 100%;
      height: 30%;
    }
  }
  
  /* Small phones to small tablets from 481px to 767px */
  @media only screen and (max-width: 767px) {
    h1 {
      font-size: 200%;
    }
    h2 {
      font-size: 130%;
    }
    h3 {
        font-size: 50%;
    }
    .main_box {
      width: 100%;
      height: 100%;
    }
    #locationChoice, #modalityChoice, #manufactureChoice{
      height: 5%;
      text-align: center;
      font-size: 100%;
      border-radius: 6px;
    }
    button {
      margin-top: 35%;
      width: 40%;
      font-size: 130%;
    }
    .answerBlock {
      width: 100%;
      height: 30%;
    }
  }
  
  /* Small phones from 0 to 480px */
  @media only screen and (max-width: 480px) {
    h1 {
      font-size: 150%;
    }
    h2 {
      font-size: 130%;
    }
    h3 {
        font-size: 50%;
    }
    .main_box {
      width: 100%;
      height: 100%;
    }
    #locationChoice, #modalityChoice, #manufactureChoice {
      height: 20px;
      text-align: center;
      font-size: 100%;
      border-radius: 6px;
    }
    
    button {
      margin-top: 33%;
      width: 40%;
      font-size: 80%;
      border-radius: 6px;
    }
    .answerBlock {
      width: 100%;
      height: 50%;
    }
  }