.labels, .primary, .secondary {
    display: inline;
    margin-left: 30px;
    font-size: 30px;
  }

#locationChoice {
    display: inline;
    height: 40px;
  }

#modalityChoice {
    display: inline;
    height: 40px;
  }

  #manufactureChoice {
    display: inline;
    height: 40px;
  }

h1 {
    text-align: center;
}

.main_box {
    width: 1080px;
    height: 450px;
    background-color: rgba(243, 237, 237, 0.678);
    margin: auto;
    text-align: center;
  }

